<?xml version="1.0"?>



<robot name="box_Demo">

<gazebo reference="box">
      <turnGravityOff>true</turnGravityOff>

    </gazebo>
<static>true</static>
  <link name="box">
    <visual>
      <geometry>
	<box size="0.1 0.005 0.005" />
      </geometry>
    <origin rpy="0 0 0" xyz="-0.00680 -0.00904 0.00152"/>
    </visual>

    <inertial>
      <origin xyz = "0 0 0" rpy="0 0 0"/>
      <mass value = "1000"/>
      <inertia
          ixx = "1000"
          ixy = "0"
          ixz = "0"
          iyy = "1000"
          iyz = "0"
          izz = "1000"
          />
    </inertial>

    <collision>
      <geometry>
        <box size="0.1 0.005 0.005" />
      </geometry>

    <origin rpy="0 0 0" xyz="-0.00680 -0.00904 0.00152"/>
    </collision>

  </link>
</robot>

